<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="professeur">
            <h2><span jhiTranslate="pgeApp.professeur.detail.title">Professeur</span> {{ professeur.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pgeApp.professeur.matricul">Matricul</span></dt>
                <dd>
                    <span>{{ professeur.matricul }}</span>
                </dd>
                <dt><span jhiTranslate="pgeApp.professeur.nom">Nom</span></dt>
                <dd>
                    <span>{{ professeur.nom }}</span>
                </dd>
                <dt><span jhiTranslate="pgeApp.professeur.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ professeur.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="pgeApp.professeur.user">User</span></dt>
                <dd>
                    {{ professeur.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/professeur', professeur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
