<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="note">
            <h2><span jhiTranslate="pgeApp.note.detail.title">Note</span> {{ note.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pgeApp.note.code">Code</span></dt>
                <dd>
                    <span>{{ note.code }}</span>
                </dd>
                <dt><span jhiTranslate="pgeApp.note.noteI">Note I</span></dt>
                <dd>
                    <span>{{ note.noteI }}</span>
                </dd>
                <dt><span jhiTranslate="pgeApp.note.noteC">Note C</span></dt>
                <dd>
                    <span>{{ note.noteC }}</span>
                </dd>
                <dt><span jhiTranslate="pgeApp.note.observation">Observation</span></dt>
                <dd>
                    <span>{{ note.observation }}</span>
                </dd>
                <dt><span jhiTranslate="pgeApp.note.matiere">Matiere</span></dt>
                <dd>
                    <div *ngIf="note.matiere">
                        <a [routerLink]="['/matiere', note.matiere?.id, 'view']">{{ note.matiere?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pgeApp.note.bulettin">Bulettin</span></dt>
                <dd>
                    <div *ngIf="note.bulettin">
                        <a [routerLink]="['/bulettin', note.bulettin?.id, 'view']">{{ note.bulettin?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/note', note.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
